<mat-dialog-content style="max-height: 85vh;">
  <div class="container" style="padding: 1%">
    <div class="modal-header" style="margin-bottom: 2%; padding: 0% 0% 0.5% 0%; justify-content: space-between">
      <div><h4>Liste des Notes du module: </h4></div>
      <div class="col-sm-0">
        <button class="btn btn-outline">
          <span class="text-secondary" (click)="saveNotes()">Enregistrer ces notes dans votre Base de données</span>
          <span style="color: dodgerblue" class="fa fa-check"> </span>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">

        <div>
          <img src="assets/excel.png" width="80%" style="margin-left: 10%">

          <button  class="btn btn-outline">
            <label for="uploadFile">
            <input id="uploadFile" type="file"(change)="xlss($event)"hidden>
            <span class="text-secondary">Importer Les notes depuis un fichier Excel </span>
            <span style="color: dodgerblue" class="fa fa-upload"> </span>
            </label>
          </button>
        </div>
        <br>
        <div  *ngIf="show">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="col-lg" style="padding-top: 0.6%; margin-bottom: 1%">
          <span style="padding-top: 0.5%" class="text-secondary"><span class="fa text-primary fa-search"></span> Chercher un etudiant dans la liste:  </span>
          <input type="number" id="transparentInput" placeholder="cne">
        </div>
        <div class="mat-elevation-z2">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <span class="fa fa-check"></span>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox class="custom-ripple" (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)"
                              [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
              </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="RefEtudiant">
              <th mat-header-cell *matHeaderCellDef> Ref.etudiant</th>
              <td mat-cell *matCellDef="let element"> {{element.retenueEcritVo.refCandidat}}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="Nom">
              <th mat-header-cell *matHeaderCellDef> nom</th>
              <td mat-cell *matCellDef="let element"> {{element.etudiantConcoursVo.nom}}</td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Prenom">
              <th mat-header-cell *matHeaderCellDef> prenom</th>
              <td mat-cell *matCellDef="let element">{{element.etudiantConcoursVo.prenom}}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="Note">
              <th mat-header-cell *matHeaderCellDef> note</th>
              <td mat-cell *matCellDef="let element"> {{element.note}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="selection.toggle(row)">
            </tr>
          </table>
          <mat-paginator hidePageSize [pageSize]="5" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>

</mat-dialog-content>
