<div class="container">
  <div class="card">
    <div class="col-lg-12 card">
      <div class="col-lg-12 card-header fa fa-book " align="center"><b>Filiere</b></div>
      <div class="card-body">
        <div class="form-group">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend"><span align="center" class="input-group-text" style="width: 110px"><b>LIBELLE</b></span>
            </div>
            <input type="text" class="form-control" placeholder="Libelle" [(ngModel)]="filiere.libelle"/>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend"><span align="center" class="input-group-text" style="width: 110px"><b>REFERENCE</b></span>
            </div>
            <input type="text" class="form-control" placeholder="Reference" [(ngModel)]="filiere.reference"/>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend"><span align="center" class="input-group-text" style="width: 110px"><b>DEPARTEMENT</b></span>
            </div>
            <input type="text" class="form-control" placeholder="Departement" [(ngModel)]="filiere.refDepartement"/>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-success btn-md fa fa-plus" (click)="save()"><b>ADD</b></button>
        </div>
      </div>
    </div>
    <div class="col-lg-12 DivDuForm">
      <div class="card-header" align="center">Filiere</div>
      <table class="table table-hover table-sm">
        <thead>
        <tr>
          <th scope="col">Libelle</th>
          <th scope="col">Type</th>
          <th scope="col">Departement</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let f of filieres">
          <td>{{f.libelle}}</td>
          <td>{{f.reference}}</td>
          <td>{{f.refDepartement}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


