<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="navbar-brand" style="display: flex">
    <div><img src="assets/logof.png" width="20%" style="margin-right: 5%"><span>FSTGM</span></div>
  </div>
  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

      <!--Drop down Postulation -->
      <li class="nav-item dropdown  ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Concours</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"  routerLink="Inscription">Create </a>
          <a class="dropdown-item"   routerLink="etudiantListe">List</a>
          <a class="dropdown-item"   routerLink="inscription">Postulation</a>

        </div>
      </li>
      <!--Commandes Finish-->


    </ul>
  </div>
</nav>
