<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="navbar-brand" style="display: flex">
    <div><img src="assets/logof.png" width="20%" style="margin-right: 5%"><span>FSTG</span></div>
  </div>
  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

      <!--Drop down Demandes -->
      <li class="nav-item dropdown  ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Demandes</a>
        <div class="dropdown-menu dropdown-menu-right " aria-labelledby="navbarDropdown">
          <a class="dropdown-item"  routerLink="DemandeReleveNotes">Demande releve de notes </a>
          <a class="dropdown-item"   routerLink="DemandeScolarite">Demande de scolarite</a>
          <a class="dropdown-item"   routerLink="DemandeInscription">Demande d'inscription</a>
          <a class="dropdown-item"   routerLink="ListeDemandes">Liste des demandes</a>
        </div>
      </li>

      <!--Drop down Demandes -->
      <li class="nav-item dropdown  ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Scolarité</a>
        <div class="dropdown-menu dropdown-menu-right " aria-labelledby="navbarDropdown">
          <a class="dropdown-item"   routerLink="note">Notes</a>
          <a class="dropdown-item"  routerLink="filiere">Filieres </a>
          <a class="dropdown-item"   routerLink="modules">Modules</a>
          <a class="dropdown-item"   routerLink="etudiants">Etudiants</a>
        </div>
      </li>

      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="Concours">Concours</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="Inscription">Candidature</a></li>

    </ul>
  </div>
</nav>
