<mat-drawer-container>
  <mat-drawer mode="side" opened>
      <nav style="display: block" class="nav nav-pills nav-fill">
        <a class="nav-item nav-link list-group-item-action  "routerLink="DemandeScolarite"  routerLinkActive="router-link-active">SCOLARITE</a>
        <a class="nav-item nav-link list-group-item-action "routerLink="DemandeInscription"  routerLinkActive="router-link-active">INSCRIPTION</a>
        <a class="nav-item nav-link list-group-item-action  " routerLink="DemandeReleveNotes"  routerLinkActive="router-link-active">RELEVE DE NOTES</a>
        <a class="nav-item nav-link list-group-item-action " routerLink="ListeDemandes"  routerLinkActive="router-link-active">LISTE DES DEMANDES</a>
      </nav>
    </mat-drawer>
  <mat-drawer-content>
    <div class="tab-content" id="nav-tabContent">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>




