<h3>Modification du {{concours.reference}}</h3>

<div class="form-group">
  <div class="form-row">
    <div class="col">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Date-Ecrit</span>
        </div>
        <input  [(ngModel)]="concours.dateConcoursEcrit" type="date" class="form-control">
      </div>
    </div>
    <div class="col">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Date-Orale</span>
        </div>
        <input  [(ngModel)]="concours.dateConcoursOral" type="date" class="form-control">
      </div>
    </div>
    <div class="col">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Nombre de place</span>
        </div>
        <input [(ngModel)]="concours.nbreplace" type="number" class="form-control">
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Place Ecrit</span>
        </div>
        <input   [(ngModel)]="concours.nbreplaceConcoursEcrit" type="number" class="form-control">
      </div>
    </div>
    <div class="col">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Place Orale</span>
        </div>
        <input  [(ngModel)]="concours.nbreplaceConcoursOral" type="number" class="form-control">
      </div>
    </div>
  </div>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Annuler</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button  [mat-dialog-close]="true" (click)="updateConcours()" >Valider</button>
  </mat-dialog-actions>
  </div>
