<div class="container">
  <div class="card">
    <div class="card">
      <div class="col-lg-12 card-header fa fa-book" align="center"><B>Module</B></div>
      <div class="card-body">
        <div class="form-group">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend"><span align="center" class="input-group-text" style="width: 90px"><b>LIBELLE</b></span>
            </div>
            <input type="text" class="form-control" placeholder="Libelle" [(ngModel)]="module.libelle"/>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend"><span align="center" class="input-group-text"
                                                   style="width: 90px"><b>CODE</b></span>
            </div>
            <input type="text" class="form-control" placeholder="Code" [(ngModel)]="module.Code"/>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend"><span align="center" class="input-group-text" style="width: 90px"><b>SEMESTRE</b></span>
            </div>
            <input type="text" class="form-control" placeholder="Semestre" [(ngModel)]="module.semestre"/>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend"><span align="center" class="input-group-text" style="width: 90px"><b>FILIERE</b></span>
            </div>
            <input type="text" class="form-control" placeholder="Filiere" [(ngModel)]="module.filiere"/>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend"><span align="center" class="input-group-text"
                                                   style="width: 90px"><b>DEBUT</b></span>
            </div>
            <input type="date" class="form-control" placeholder="Date de debut" [(ngModel)]="module.dateDebut"/>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend"><span align="center" class="input-group-text"
                                                   style="width: 90px"><b>FIN</b></span>
            </div>
            <input type="date" class="form-control" placeholder="Date fin" [(ngModel)]="module.dateFin"/>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-success btn-md fa fa-plus" (click)="save()"><b>ADD </b></button>
        </div>
      </div>
    </div>
    <div class="col-lg-12 DivDuForm">
      <div class="card-header" align="center">Modules</div>
      <table class="table table-hover table-sm">
        <thead>
        <tr>
          <th scope="col">Libelle</th>
          <th scope="col">Filiere</th>
          <th scope="col">Semestre</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>ALGEBRE1</td>
          <td>MIPC</td>
          <td>Semestre1</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


