<div style="background-image: url(assets/arctic.jpg); height: 100%">
<div class="container" >
<button (click)="backClicked();" class="btn btn-outline">
  <span class="text-body fa fa-arrow-left"></span>
</button>

<!--info Demande-->
  <h1 style="text-align: center">Informations supplémentaires</h1><br><br>
  <br>

<table class="table">
  <tbody>
  <tr class="table">
    <th style="text-align: center">NOM</th>
    <td><h6 style="text-align: center">{{DemandeInscriptionSelected.nom}}</h6></td>
  </tr>
  <tr class="table">
    <th style="text-align: center">PRENOM</th>
    <td><h6 style="text-align: center">{{DemandeInscriptionSelected.prenom}}</h6></td>

  </tr >
  <tr class="table">
    <th style="text-align: center">CIN</th>
    <td><h6 style="text-align: center">{{DemandeInscriptionSelected.cin}}</h6></td>

  </tr>
  <tr class="table">
    <th style="text-align: center">Email</th>
    <td><h6 style="text-align: center">{{DemandeInscriptionSelected.email}}</h6></td>
  </tr>
  </tbody>
</table>
</div>
<br><br>
<img src="assets/fstg.png" class="center"/>
  <br>
</div>
