<button (click)="backClicked();" class="btn btn-outline">
  <span class="text-danger fa fa-arrow-circle-left"></span>
  <span class="text-danger"><h6>RETOUR</h6></span>
</button>

<!--info Demande-->
<div class="container">
  <br>
  <h1 style="text-align: center">Informations supplémentaires</h1><br><br>


  <br>

</div>




<!--<table class="table table-hover table-sm table-bordered">-->
  <!--<thead class="thead-light ">-->

  <!--<th style="text-align:center" class="something">NOM</th>-->
  <!--<th style="text-align:center" class="something">PRENOM</th>-->
  <!--<th style="text-align: center" class="something">EMAIL</th>-->

  <!--</thead>-->
  <!--<tbody>-->
  <!--<tr>-->

    <!--<td style="text-align:center" class="something">{{DemandeInscriptionSelected.nom}}</td>-->
    <!--<td style="text-align:center" class="something">{{DemandeInscriptionSelected.prenom}}</td>-->
    <!--<td style="text-align: center" class="something">{{DemandeInscriptionSelected.email}}</td>-->

  <!--</tr>-->
  <!--</tbody>-->
<!--</table>-->

<!--<table class="table table-striped table-dark">-->
  <!--<thead>-->
    <!--<th scope="col">NOM</th>-->
    <!--<th scope="col">PRENOM</th>-->
    <!--<th scope="col">EMAIL</th>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--<tr>-->
    <!--<td>{{DemandeInscriptionSelected.nom}}</td>-->
    <!--<td>{{DemandeInscriptionSelected.prenom}}</td>-->
    <!--<td>{{DemandeInscriptionSelected.email}}</td>-->
  <!--</tr>-->
  <!--</tbody>-->
<!--</table>-->


<!--<table class="table table-sm">-->
  <!--<thead>-->
    <!--<th scope="col">NOM</th>-->
    <!--<th scope="col">PRENOM</th>-->
    <!--<th scope="col">CIN</th>-->
    <!--<th scope="col">EMAIL</th>-->

  <!--</thead>-->
  <!--<tbody>-->
  <!--<tr class="table-info">-->
    <!--<td>{{DemandeInscriptionSelected.nom}}</td>-->
    <!--<td>{{DemandeInscriptionSelected.prenom}}</td>-->
    <!--<td>{{DemandeInscriptionSelected.cin}}</td>-->
    <!--<td>{{DemandeInscriptionSelected.email}}</td>-->
  <!--</tr>-->
  <!--</tbody>-->
<!--</table>-->


<table class="table">
  <tbody>
  <tr class="table-info">
    <th style="text-align: center">NOM</th>
    <td><h6 style="text-align: center">{{DemandeInscriptionSelected.nom}}</h6></td>
  </tr>
  <tr class="table-info">
    <th style="text-align: center">PRENOM</th>
    <td><h6 style="text-align: center">{{DemandeInscriptionSelected.prenom}}</h6></td>

  </tr >
  <tr class="table-info">
    <th style="text-align: center">CIN</th>
    <td><h6 style="text-align: center">{{DemandeInscriptionSelected.cin}}</h6></td>

  </tr>
  <tr class="table-info">
    <th style="text-align: center">Email</th>
    <td><h6 style="text-align: center">{{DemandeInscriptionSelected.email}}</h6></td>
  </tr>
  </tbody>
</table>
