<mat-drawer-container>
  <mat-drawer [disableClose]="true" mode="side" opened>
    <nav style="display: block" class="nav nav-pills nav-fill">
      <a class="nav-item nav-link list-group-item-action  " routerLink="créationConcours"
         routerLinkActive="router-link-active">Création Concours</a>
      <a class="nav-item nav-link list-group-item-action " routerLink="listeConcours"
         routerLinkActive="router-link-active">Liste Des Concours</a>
      <div class="hoverWrapper  list-group-item-action " routerLinkActive="router-link-active">
        <div class="nav-item nav-link" >Gestion des notes</div>
        <div  id="hoverShow1">
          <a   class="nav-item nav-link list-group-item-action" routerLink="GestionDesNotes"
             routerLinkActive="router-link-active2">   + Concours Ecrit </a>
          <a  class="border-bottom nav-item nav-link list-group-item-action " routerLink="NoteOral"
              routerLinkActive="router-link-active2" >  + Concours Oral </a></div>
      </div>

      <a class="nav-item nav-link list-group-item-action  " routerLink="listePostule"
         routerLinkActive="router-link-active">Liste Des Postulés</a>
      <a class="nav-item nav-link list-group-item-action " routerLink="listeEcrit"
         routerLinkActive="router-link-active">Liste Retenus écrit</a>
      <a class="nav-item nav-link list-group-item-action  " routerLink="listeOral"
         routerLinkActive="router-link-active">Liste Retenus oral</a>
      <a class="nav-item nav-link list-group-item-action " routerLink="listeAdmis"
         routerLinkActive="router-link-active">Liste Admis</a>

    </nav>

  </mat-drawer>
  <mat-drawer-content>

    <div class="tab-content" id="nav-tabContent">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

