<br><br>

<div *ngIf="route.children.length===0">


<div class="card" >
  <div class="card-body">

    <h1 align="center">DEMANDES D'INSCRIPTION</h1> <br><br><br>
    <div class="d-flex justify-content-sm-between">
      <div class="input-group">
        <div class="input-group-prepend">
          <label class="input-group-text"><b>CNE</b></label>
        </div>
        <input type="text" class="form-control" [(ngModel)]="demandeInscriptionSearch.refEtudiant">
      </div>
      <div class="input-group mx-sm-3">
        <div class="input-group-prepend">
          <label class="input-group-text"><b>Filiere</b></label>
        </div>
        <select size="1" [(ngModel)]="demandeInscriptionSearch.refFiliere" class="form-control form-control-sm">
          <option value="{{f.libelle}}" *ngFor="let f of filieres "> {{f.libelle}}</option>
        </select>
      </div>
      <div class="input-group">
        <button class="btn btn-info btn-block" (click)="findDemandeInscriptionByQuery()"><i class="fa fa-search"></i> <b> RECHERCHE</b>
        </button>
      </div>
    </div>
  </div></div>


<br><br>


<table class="table table-hover table-sm table-bordered">
  <thead class="thead-light ">

  <th style="text-align:center" class="something">CNE</th>
    <th style="text-align:center" class="something">FILIERE</th>
  <th style="text-align:center" class="something" >MODIFICATION</th>
  <th style="text-align:center" class="something" >INFO</th>

  </thead>
  <tbody>
  <tr *ngFor="let d of demandeInscriptions">

    <td style="text-align:center" class="something">{{d.refEtudiant}}</td>
    <td style="text-align:center" class="something">{{d.refFiliere}}</td>
    <td style="text-align: center" >
      <button class="btn btn-outline-success" (click)="print(d.refEtudiant)"><i class="fa fa-download"></i> </button>
      <button class="btn btn-danger" (click)="deleteDemandeInscription(d)"> <i class="fa fa-trash"></i> </button>
    </td>
    <td style="text-align: center">
      <a (click)="findByRefEtudiant(d.refEtudiant)" routerLink="Info" style="border:0px solid transparent; "class="btn btn-info"><i class="fa fa-address-book"></i></a>
    </td>

  </tr>
  </tbody>
</table>
</div>
<router-outlet></router-outlet>

