<br><br>




<!--<div class="container">-->
  <!--<div class="row searchFilter" >-->
    <!--<div class="col-sm-12" >-->

      <!--<div class="input-group" >-->
        <!--<div class="input-group-btn search-panel" >-->
          <!--<select class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown">-->
            <!--<option>Filière</option>-->
            <!--<option>CNE</option>-->
          <!--</select>-->
        <!--</div>-->
        <!--<input id="table_filter" type="text" class="form-control" aria-label="Text input with segmented button dropdown" >-->
        <!--<button type="button" class="btn btn-info">-->
          <!--<span class="glyphicon glyphicon-search"></span> RECHERCHE-->
        <!--</button>-->

      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->



<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-sm-between">
      <div class="input-group">
        <div class="input-group-prepend">
          <label class="input-group-text">CNE</label>
        </div>
        <input type="text" class="form-control" [(ngModel)]="demandeInscriptionSearch.refEtudiant">
      </div>
      <div class="input-group mx-sm-3">
        <div class="input-group-prepend">
          <label class="input-group-text">Filiere</label>
        </div>
        <input type="text" class="form-control" [(ngModel)]="demandeInscriptionSearch.refFiliere">
      </div>
      <div class="input-group">
        <button class="btn btn-secondary btn-block" (click)="findDemandeInscriptionByQuery()"><i class="fa fa-search"></i> Recherche
        </button>
      </div>
    </div>
  </div></div>

<br><br>


<table class="table table-hover table-sm table-bordered">
  <thead class="thead-dark ">
  <th style="text-align:center" class="something">CNE</th>
    <th style="text-align:center" class="something">FILIERE</th>
  <th style="text-align:center" class="something" >MODIFICATION</th>
  <th style="text-align:center" class="something">PDF</th>
  </thead>
  <tbody>
  <tr *ngFor="let d of demandeInscriptions">
    <td style="text-align:center" class="something">{{d.refEtudiant}}</td>
    <td style="text-align:center" class="something">{{d.refFiliere}}</td>
    <td style="text-align: center" ><button class="btn btn-danger" (click)="deleteDemandeInscription()"> <i class="fa fa-trash"></i> SUPPRIMER</button></td>
    <td style="text-align: center"><button class="btn btn-outline-success"><i class="fa fa-download"></i> DOWNLOAD </button></td>
  </tr>
  </tbody>
</table>
