.my-custom-scrollbar {
  position: relative;
  height: 650px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

/*.custom-class{*/
  /*background-color: red;*/
/*}*/

.default-color{
  background-color: red;
}
.positive {
  background-color: green;
}

.negative {
  background-color: #cce5e5;
}
.noteorange {
  background-color: #4ca6a6;
}
.bdblue {
  background-color: #14B1F4;
}
.cneyellow {
  background-color:#4ca6a6;
}
