<div class="container-fluid" style="background-image: url(assets/Jx.jpg); height: 100%">
  <div class="row" style="padding-top:2%; justify-content: center" >
    <img src="assets/fstg.png" height="180" width="130"/>
    <div class= "col-lg-12 card-header card-text">
      <h1 align="center" style="font-family: 'Berlin Sans FB'; color : white">DEMANDE DE RELEVE DE NOTES</h1> <br>
      <div>
        <div id="cne" class="container">
          <div class="row" style="justify-content: center">
            <div class="col-sm-12">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" style="width: 90px"><b>CNE</b></span>
                </div>
                <input  [(ngModel)]="demandeReleveNotes.refEtudiant"  class="form-control form-control-sm" >
              </div>
            </div>
          </div>
        </div>
        <div id="cin" class="container">
          <div class="row" style="justify-content: center">
            <div class="col-sm-12">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" style="width: 90px"><b>CIN</b></span>
                </div>
                <input  [(ngModel)]="demandeReleveNotes.cin"  class="form-control form-control-sm" >
              </div>
            </div>
          </div>
        </div>
        <div id="nom" class="container">
          <div class="row" style="justify-content: center">
            <div class="col-sm-12">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" style="width: 90px"><b>NOM</b></span>
                </div>
                <input  [(ngModel)]="demandeReleveNotes.nom"   class="form-control form-control-sm" >
              </div>
            </div>
          </div>
        </div>
        <div id="prenom" class="container">
          <div class="row" style="justify-content: center">
            <div class="col-sm-12">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" style="width: 90px"><b>PRENOM</b></span>
                </div>
                <input  [(ngModel)]="demandeReleveNotes.prenom"   class="form-control form-control-sm" >
              </div>
            </div>
          </div>
        </div>
        <div id="filiere" class="container">
          <div class="row" style="justify-content: center">
            <div class="col-sm-12">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" style="width: 90px"><b>EMAIL</b></span>
                </div>
                <input type="email"   [(ngModel)]="demandeReleveNotes.email"   class="form-control form-control-sm" email>
              </div>
            </div>
          </div>
        </div>
        <div id="annee" class="container">
          <div class="row" style="justify-content: center">
            <div class="col-sm-12">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" style="width: 90px"><b>Année</b></span>
                </div>
                <input type="number" min="2015" max="2019" step="1" [(ngModel)]="demandeReleveNotes.annee"   class="form-control form-control-sm" >
              </div>
            </div>
          </div>
        </div>
        <div id="filiere" class="container">
          <div class="row" style="justify-content: center">
            <div class="col-sm-12">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" style="width: 90px"><b>Filiere</b></span>
                </div>
                <select  [(ngModel)]="demandeReleveNotes.refFiliere"   class="form-control form-control-sm" >
                  <option  value="{{f.libelle}}" *ngFor="let f of filieres " > {{f.libelle }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div id="semestre" class="container">
          <div class="row" style="justify-content: center">
            <div class="col-sm-12">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" style="width: 90px"><b>Semestres</b></span>
                </div>
        <ejs-multiselect [dataSource]='semestress' [(ngModel)]="demandeReleveNotes.refSemestres"  class="form-control form-control-sm"></ejs-multiselect>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="sub" style="text-align:center">
          <button type="button" class=" btn btn-success" (click)="saveDemandeReleveNotes()">VALIDER <i class="fa fa-send-o"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
