
<nav class="navbar navbar-light navbar-expand-lg  bg-light ">
  <a class="navbar-brand">ESPACE ETUDIANT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
  </div>
</nav>
<div class="container">
  <div class="row; center-block" style="padding-top:6%" >


    <div class= "col-lg-12 DivDuForm">

      <h1 align="center">DEMANDE DE RELEVE DE NOTES</h1> <br>
      <div>

        <div id="filiere" class="container">
          <div class="row" style="justify-content: center">
            <div class="col-sm-12">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" >CNE</span>
                </div>
                <input  [(ngModel)]="demandeReleveNotes.refEtudiant"  class="form-control form-control-sm" >


              </div>
            </div>

          </div>

        </div>

        <div id="filiere" class="container">
          <div class="row" style="justify-content: center">
            <div class="col-sm-12">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" >NOM</span>
                </div>
                <input  [(ngModel)]="demandeReleveNotes.nom"   class="form-control form-control-sm" >


              </div>
            </div>

          </div>

        </div>


        <div id="filiere" class="container">
          <div class="row" style="justify-content: center">
            <div class="col-sm-12">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" >PRENOM</span>
                </div>
                <input  [(ngModel)]="demandeReleveNotes.prenom"   class="form-control form-control-sm" >


              </div>
            </div>

          </div>

        </div>


        <div id="filiere" class="container">
          <div class="row" style="justify-content: center">
            <div class="col-sm-12">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" >EMAIL</span>
                </div>
                <input  [(ngModel)]="demandeReleveNotes.email"   class="form-control form-control-sm" >


              </div>
            </div>

          </div>

        </div>

        <div id="filiere" class="container">
          <div class="row" style="justify-content: center">
            <div class="col-sm-12">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" >Filiere</span>
                </div>
                <select  [(ngModel)]="demandeReleveNotes.refFiliere"   class="form-control form-control-sm" >
                  <option  value="{{f.libelle}}" *ngFor="let f of filieres " > {{f.libelle }}</option>
                </select>
              </div>
            </div>

          </div>

        </div>



       <div id="semestre" class="container">
          <div class="row" style="justify-content: center">
            <div class="col-sm-12">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" >Semestres</span>
                </div>
                <select  [(ngModel)]="demandeReleveNotes.refSemestre"   class="form-control form-control-sm" >
                  <option  value="{{s.libelle}}" *ngFor="let s of semestres " > {{s.libelle }}</option>
                </select>
              </div>
            </div>

          </div>

        </div>


       <!--<div id="semestre" class="container">-->
          <!--<div class="row" style="justify-content: center">-->
            <!--<div class="col-sm-12">-->
              <!--<div class="input-group input-group-sm mb-3">-->
                <!--<div class="input-group-prepend">-->
                  <!--<span class="input-group-text" >Semestre</span>-->
                <!--</div>-->
                <!--<select [(ngModel)]="demandeReleveNotes.refSemestre"   class="form-control form-control-sm" >-->
                  <!--<option value="S1" >Semestre 1</option>-->
                  <!--<option value="S2">Semestre 2</option>-->
                  <!--<option value="S3">Semestre 3</option>-->
                  <!--<option value="S4">Semestre 4</option>-->

                <!--</select>-->
              <!--</div>-->
            <!--</div>-->

          <!--</div>-->

        <!--</div>-->


        <br><br><br>



        <div class="sub" style="text-align:center">
          <button type="button" class=" btn btn-primary" data-toggle="modal" data-target="#exampleModal2" >ENVOYER</button>
        </div>



        <!-- Modal -->
        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">CONFIRMATION</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Êtes-vous sûr de vouloir continuer ?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"  data-target="#exampleModalConfirm" (click)="saveDemandeReleveNotes()">CONTINUER</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" >ANNULER</button>

              </div>
            </div>
          </div>
        </div>





      </div>
    </div>
  </div>
</div>

