<div class="container-fluid" >
  <br>
  <h5 style="margin-bottom:2% "> Selectionner un concours</h5>

  <div class="row" style="justify-content: center">
    <div class="col-sm-4">
      <div class="input-group input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Année</span>
        </div>
        <select class="form-control form-control">
          <option disabled value>&#45;&#45;SELECT&#45;&#45;</option>

        </select>
      </div>

    </div>
    <div class="col-sm-4">
      <div class="input-group input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Concours</span>
        </div>
        <select [(ngModel)]="refConcours" class="form-control form-control">
          <option value="{{cc.reference}}" *ngFor="let cc of concourss ">Concours {{cc.refFiliere}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-0">
      <button type="button" (click)="finByRefConcours();findListeReteues()" class="btn btn-outline-success"><span
        class="fa fa-search"> Selectionner</span>
      </button>
    </div>
  </div>

  <h5>Liste: </h5>
  <div class="row" style="margin-left: 1%;margin-bottom: 1%">
    <div  class="col-sm-0">
      <button id="download" (click)="print()" class="btn btn-outline">
        <span style="color: dodgerblue" class="fa fa-download"> </span>
        <span  class="text-secondary"> Exporter sous format PDF </span>
      </button>
    </div>
    <div class="col-sm-0">
      <button (click)="openDialog();" style="" class="btn btn-outline text-secondary"><span class="fa text-primary fa-font-awesome"></span> Faire la Preselection</button>
    </div>
    <div class="col-lg" style="padding-top: 0.6%">
      <span style="padding-top: 0.5%" class="text-secondary"><span class="fa text-primary fa-search"></span> Chercher un etudiant dans la liste:  </span>
      <input (keyup)="findInListByCne()" [(ngModel)]="cne" type="number"  id="transparentInput" placeholder="cne">
    </div>

  </div>
  <table  matSort (matSortChange)="sortData($event)" class="table table-sm table-borderless ">
    <thead class="thead-light">
    <tr>
      <th mat-sort-header="cne" style="border-top-left-radius:10px; " scope="col">Cne</th>
      <th mat-sort-header="cin"scope="col">Cin</th>
      <th mat-sort-header="statue" scope="col">Statue</th>
      <th mat-sort-header="nom" scope="col">Nom</th>
      <th mat-sort-header="prenom" scope="col">Prenom</th>
      <th mat-sort-header="6" scope="col">Email</th>
      <th mat-sort-header="tel" scope="col">Telephone</th>
      <th  mat-sort-header="8" style="border-top-right-radius:10px; " scope="col">Info</th>

    </tr>
    </thead>
    <tbody>
    <tr class="list-group-item-action" *ngFor="let c of listCandidats">
      <td>{{c.cne}}</td>
      <td>{{c.cin}}</td>
      <td>{{c.statue}}</td>
      <td>{{c.nom}}</td>
      <td>{{c.prenom}}</td>
      <td>{{c.email}}</td>
      <td>{{c.tel}}</td>
      <td>

        <a (click)="findByCne(c.cne)"   routerLink="Info" style="border:0px solid transparent; "
           class="btn btn-outline-secondary btn-sm"
        ><span class="fa fa-plus"></span></a>

      </td>
    </tr>
    </tbody>
  </table>
</div>

<router-outlet></router-outlet>
