<div class="container-fluid">
  <br>
  <h5 style="margin-bottom:2% "> Selectionner un concours</h5>

  <div class="row" style="justify-content: center">
    <div class="col-sm-4">
      <div class="input-group input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Année</span>
        </div>
        <select class="form-control" (click)="findConcoursByAnee()" [(ngModel)]="annee">
          <option>&#45;&#45;SELECT&#45;&#45;</option>
          <option *ngFor="let a of anneeConcours">{{a}}</option>
        </select>
      </div>

    </div>
    <div class="col-sm-4">
      <div class="input-group input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Concours</span>
        </div>
        <select [(ngModel)]="refConcours" class="form-control form-control">
          <option value='{{cc.reference}}' *ngFor="let cc of concours ">Concours {{cc.refFiliere}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-0">
      <button type="button" (click)="findListeRetenueInBd()" class="btn btn-outline-success"><span
        class="fa fa-search"> Selectionner</span>
      </button>
    </div>
  </div>

  <h5>Liste: </h5>
  <div class="row" style="margin-left: 1%;margin-bottom: 1%">
    <div class="col-sm-0">
      <button id="download" (click)="print()" class="btn btn-outline">
        <span style="color: dodgerblue" class="fa fa-download"> </span>
        <span class="text-secondary"> Exporter sous format PDF </span>
      </button>
    </div>

    <div class="col-lg" style="padding-top: 0.4%">
      <span style="padding-top: 0.5%" class="text-secondary"><span class="fa text-primary fa-search"></span> Chercher un etudiant dans la liste:  </span>
      <input (keyup)="filter()" [(ngModel)]="refCandidat" type="text" id="transparentInput" placeholder="cne">
    </div>

  </div>
  <table matSort (matSortChange)="sortData($event)" class="table table-sm table-borderless ">
    <thead class="thead-light">
   <!-- <tr style="text-align: center"  >
     <th style="text-align:center;border-top-left-radius:10px; " class="bg-white" colspan="5">Informations des candidats</th>
      <th  style="text-align:center;border-top-right-radius:10px; " class="bg-white" colspan="3">Notes des candidats</th>
    </tr>-->
    <tr>
      <th mat-sort-header="cne" style="text-align:center;border-top-left-radius:10px; "   scope="col">Cne</th>
      <th mat-sort-header="cin" scope="col">Nom</th>
      <th mat-sort-header="statue" scope="col">Prenom</th>
      <th mat-sort-header="nom" scope="col">Diplome</th>
      <th mat-sort-header="prenom" scope="col">Mention</th>
      <th mat-sort-header="6" scope="col">Preselection</th>
      <th mat-sort-header="tel" scope="col">Note ecrit</th>
      <th mat-sort-header="8"  style="text-align:center;border-top-right-radius:10px; "scope="col">Note Oral</th>
    </tr>



    </thead>
    <tbody>
    <tr class="list-group-item-action" *ngFor="let c of listeRetenueFinalInBd">
      <td>{{c.etudiantConcoursVo.cne}}</td>
      <td>{{c.etudiantConcoursVo.nom}}</td>
      <td>{{c.etudiantConcoursVo.prenom}}</td>
      <td>{{c.etudiantConcoursVo.diplomeEtudiantVo.refDiplome}}</td>
      <td>{{c.etudiantConcoursVo.diplomeEtudiantVo.mention}}</td>
      <td>{{c.etudiantConcoursVo.diplomeEtudiantVo.note}}</td>
      <td>{{c.noteConcoursVo.noteEcrit}}</td>
      <td>{{c.noteConcoursVo.noteOral}}</td>

    </tr>
    </tbody>
  </table>
</div>

<router-outlet></router-outlet>
