<div *ngIf="route.children.length===0">
<div class="card" style="background-color: #f2f2f2">
  <div class="card-body">
    <h1 align="center" style="font-family: 'Berlin Sans FB'">DEMANDES DE RELEVE DE NOTES</h1> <br><br><br>
    <div class="d-flex justify-content-sm-between">
      <div class="input-group">
        <div class="input-group-prepend">
          <label class="input-group-text"><b>CNE</b></label>
        </div>
        <input type="text" class="form-control" [(ngModel)]="demandeReleveNotesSearch.refEtudiant">
      </div>
      <div class="input-group mx-sm-3">
        <div class="input-group-prepend">
          <label class="input-group-text"><b>Filiere</b></label>
        </div>
        <select size="1" [(ngModel)]="demandeReleveNotesSearch.refFiliere" class="form-control form-control-sm">
          <option></option>
          <option value="{{f.libelle}}" *ngFor="let f of filieres "> {{f.libelle}}</option>
        </select>
      </div>
      <div class="input-group mx-sm-4">
        <div class="input-group-prepend">
          <label class="input-group-text"><b>Semestre</b></label>
        </div>
        <select size="1" [(ngModel)]="demandeReleveNotesSearch.refSemestre" class="form-control form-control-sm">
          <option></option>
          <option value="{{s.libelle}}" *ngFor="let s of semestres "> {{s.libelle}}</option>
        </select>
      </div>
      <div class="input-group">
        <button class="btn btn-info btn-block" (click)="findDemandeReleveNotesByQuery()"><i class="fa fa-search"></i> <b> RECHERCHE </b>
        </button>
      </div>
    </div>
  </div></div>
<table class="table table-hover table-sm table-bordered">
  <thead class="thead" style="background-color: teal">
  <th style="text-align:center; color : white" class="something">CNE</th>
  <th style="text-align:center; color : white" class="something">FILIERE</th>
  <th style="text-align:center; color : white" class="something">SEMESTRES</th>
  <th style="text-align:center; color : white" class="something" >ACTION</th>
  <th style="text-align:center; color : white" class="something" >INFO</th>
  </thead>
  <tbody>
  <tr *ngFor="let d of demandeReleveNotess" style="background-color: #f2f2f2">
    <td style="text-align:center" class="something">{{d.refEtudiant}}</td>
    <td style="text-align:center" class="something">{{d.refFiliere}}</td>
    <td style="text-align:center" class="something">{{d.refSemestre}}</td>
    <td style="text-align: center" >
      <button class="btn btn-outline-success" (click)="print(d.refEtudiant, d.refFiliere, d.refSemestre, d.annee)"><i class="fa fa-download"></i> </button>
      <button class="btn btn-danger" (click)="deleteDemandeReleveNotes(d)" ><i class="fa fa-trash"></i></button>
    </td>
    <td style="text-align: center">
      <a (click)="findByRefEtudiant(d.refEtudiant, d.refSemestre)" routerLink="Informations" style="border:0px solid transparent; "class="btn btn-info"><i class="fa fa-address-book"></i></a>
    </td>
  </tr>
  </tbody>
</table>
</div>
<router-outlet></router-outlet>
